<!doctype html>
<html lang=en ng-app=gamebox ng-controller=MainCtrl>

<meta charset=utf-8>
<title>Gamebox</title>

<link rel=stylesheet href=styles.css>

<header>
  <h1>Hackenbush</h1>
  <span ng-hide=winner class=label ng-style='{background: turn}'>Play {{turn}}</span>
  <span ng-show=winner class=label ng-style='{background: winner}'>
    <b>Game Over. The winner is <i>{{winner}}</i>.</b>
  </span>
</header>

<svg id=stage width='{{game.width}}' height='{{game.height}}' version=1.1>
  <defs>
    <circle id=point r=3 fill=none stroke-width=2 />
  </defs>

  <!-- Floor -->
  <line x1=20 y1='{{game.floorY}}' x2='{{game.width - 20}}' y2='{{game.floorY}}'
    stroke=brown stroke-width=5 />
  <use xlink:href=#point x=18 y='{{game.floorY}}' stroke=brown />
  <use xlink:href=#point x='{{game.width - 18}}' y='{{game.floorY}}' stroke=brown />

  <g ng-repeat='line in game.lines'>
    <line x1='{{line.x1}}' y1='{{line.y1}}' x2='{{line.x2}}' y2='{{line.y2}}'
      stroke='{{line.color}}' stroke-width=3
      ng-style='{opacity: line.gone ? .3 : 1}' />
    <line x1='{{line.x1}}' y1='{{line.y1}}' x2='{{line.x2}}' y2='{{line.y2}}'
      stroke='{{line.color}}' stroke-width=10 stroke-linecap=round
      class=handle ng-class='{current: turn == line.color || line.color == "green"}'
      ng-hide=line.gone ng-click='game.strike(line)' />
  </g>

  <circle ng-repeat='v in game.verts' cx='{{v[0]}}' cy='{{v[1]}}' r=5 fill=black />
</svg>

<footer>
  Built by <a href='http://sharats.me'>Shrikant Sharat Kandula</a>.
  Source code on <a href='https://github.com/sharat87/cgt-gamebox'>github project page</a>.
</footer>

<script src=angular.min.js></script>
<script src=main.js></script>
