// Colors from Solarized http://ethanschoonover.com/solarized

* { box-sizing: border-box; }

body {
    padding-bottom: 48px;
    background-color: #FDF6E3;
    color: #657B83;
    margin: 0;
}

header {
    font-size: 16px;
    line-height: 42px;
    margin-bottom: 12px;
    background-color: #EEE8D5;
    box-shadow: 0 0 12px #586E75;
}

header .left {
    float: left;
}

header .right {
    float: right;
}

header:after {
    content: ' ';
    visibility: none;
    display: block;
    clear: both;
}

header h1 {
    margin: 0 0 0 6px;
}

header .status {
    color: #FDF6E3;
    padding: 0 12px;
    display: inline-block;
}

header .status.red {
    background-color: #DC322F;
}

header .status.blue {
    background-color: #268BD2;
}

#stage {
    display: block;
    padding: 18px;
    margin: 0 auto;
}

.color-red {
    stroke: #DC322F;
}

.color-blue {
    stroke: #268BD2;
}

.color-green {
    stroke: #859900;
}

.handle {
    opacity: .3;
}

.handle.current:hover {
    cursor: pointer;
    stroke-width: 15;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 0 0 6px;
    opacity: .8;
    font-size: 1.2em;
    width: 100%;
    background-color: #FDF6E3;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: #268BD2;
}

footer a:visited {
    color: #6C71C4;
}
